

body{
    margin: 30px;
    margin-top: 0;
    font-family: "Poppins" , sans-serif;
    font-size: 0.5fr;
}

.container{
    display: flex;
    
}

.row:nth-child(2){
    margin-left: auto;
    padding-top: 30px;
}

.logo{
    width: 10em;
    height: auto;
   
}

.language{
    display: flex;
    
}
.bg-button{
    width: 20px;
    height: 20px;
}
.arrow{
    width: 16px;
    height: 16px;
    align-content: center;
    transform: translateX(5px) translateY(3px);
   
}

.bulgarian{
    align-content: flex-start;
    margin: 0;
    font-family: montserrat;
}


/* header styles */

.button-container{
    display: flex;
    justify-content: center;
    

}

.button{
    height: 35px;
    width: 130px;
    background-color: #0DCC00; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100px;
    margin-right: 20px;
    position: relative;
}

.button:hover{
    cursor: pointer;
}
.yes{
    position: absolute;
    top: 9px;
    left: 4px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.no{
    position: absolute;
    top: 9px;
    left: 4px;
    margin: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 700px){

    .button{
        height: 40px;
        width: 150px;
        margin-right: 50px;
    }

    .yes{
        top: 11px;
        left: 3px;
    }

}


/* button styles */

h1{
    color: #0DCC00;
    text-align: center;
}

h2{
    color: #555555;
    text-align: center;
}

.container-two{
    display: flex;
    justify-content: space-between;
}

.main-img{
    width: 50%;
    justify-self: center;
}

.main-container{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
}

.row-two{
    width: 100px;
    border-bottom: 4px solid #0DCC00;
}

.row-two:nth-child(1){
    align-content: center;
}

.row-two:nth-child(2){
    align-content: center;
    margin-left: 20px;
}

.back{
    display: inline;
    font-size: large;
    color: #313131;
}

.next{
    display: inline;
    font-size: large;
    color: #313131;
}

.back:hover{
    cursor: pointer;
}

.next:hover{
    cursor: pointer;
}

.left-arrow{
    width: 0.8em;
}

.right-arrow{
    width: 0.8em;
    transform: rotate(180deg);
}

@media screen and (min-width: 700px){

    .row-two{
        transform: translateY(-50px);
    }

}

.footer{
    text-align: center;
    margin-top: 100px;
    color: rgb(143, 143, 143);
}
/* main area styles */